# From https://help.github.com/articles/dealing-with-line-endings, 9/1/12

# Set default behavior, in case users don't have core.autocrlf set.
* text=auto

# Explicitly declare text files we want to always be normalized (crlf => lf) and
# converted to native line endings on checkout.
#*.sh text
#*.py text

# Declare files that will always have CRLF line endings on checkout.
#*.txt text eol=crlf

# Denote all files that are truly binary and should not be modified.
#*.png binary
#*.pyc binary

# Keep the development files on the development branch.
00-* merge=ours
.*.pws
modelicares/examples
