include matplotlibrc
include *.txt
include doc/*.rst
include MANIFEST.in
include bin/loadres

# Examples
include examples/*.md
include examples/*.csv
include examples/*.mat
include examples/*.py
include examples/*.txt
include examples/ChuaCircuit/*.md
include examples/ChuaCircuit/*.py
include examples/PID/*.md
include examples/PID/*.py

# Documentation (built version)
include doc/_images/*
include doc/_images/math/*
include doc/_static/*
include doc/*.html
include doc/*.rst
include doc/*.pdf
include doc/objects.inv
include doc/searchindex.js

# Development scripts
#exclude 00-*
exclude examples/00-*