include MANIFEST.in
include *.md
include *.txt
include *.sh

# Files to build the documentation
include doc/*.md
include doc/*.pws
include doc/*.py
include doc/*.rst
include doc/_static/*
include doc/_templates/*
include doc/extra/*

# Files to run the examples
include examples/*.ipynb
include examples/*.mat
include examples/*.md
include examples/*.py
include examples/dsin.txt
include examples/matplotlibrc
include examples/load-csv*
include examples/ChuaCircuit/*.md
include examples/ChuaCircuit/*.py
include examples/ChuaCircuit/*/*.mat
include examples/PID/*.md
include examples/PID/*.py
include examples/PID/*/*.mat
include examples/PID/*/dsin.txt

# Test scripts and data files
include tests/*
exclude tests/*.pdf
